@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-toastify/dist/ReactToastify.min.css';

.special-block {
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: all;
}

.special-block:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: .25rem .25rem 0rem black;
}