@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.special-block {
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: all;
}

.special-block:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: .25rem .25rem 0rem black;
}