@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-toastify/dist/ReactToastify.min.css';

.special-block {
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: all;
}

.special-block:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: .25rem .25rem 0rem black;
}

.animated:nth-child(1) {
  animation-delay: .2s;
}

.animated:nth-child(2) {
  animation-delay: .4s;
}

.animated:nth-child(3) {
  animation-delay: .6s;
}

.animated:nth-child(4) {
  animation-delay: .8s;
}

.animated:nth-child(5) {
  animation-delay: 1s;
}

.animated:nth-child(6) {
  animation-delay: 1.2s;
}

.animated:nth-child(7) {
  animation-delay: 1.4s;
}

.animated {
  text-align: center;
  animation: divanim 5.6s infinite;
  animation: divanim 5.6s infinite;
  position: relative;
  height: 10px;

  opacity: .8;
}

@keyframes divanim {
  0% {
    background: #FF595E;
    transform: rotate(0deg);
  }

  12% {
    background: #FF595E;
    transform: rotate(0deg);
  }

  38% {
    background: #797979;
    transform: rotate(180deg);
  }

  62% {
    background: #797979;
    transform: rotate(180deg);
  }

  88% {
    background: #FF595E;
    transform: rotate(360deg);
  }

  100% {
    background: #FF595E;
    transform: rotate(360deg);
  }
}

@keyframes divanim {
  0% {
    background: #FF595E;
    transform: rotate(0deg);
  }

  12% {
    background: #FF595E;
    transform: rotate(0deg);
  }

  38% {
    background: #797979;
    transform: rotate(180deg);
  }

  62% {
    background: #797979;
    transform: rotate(180deg);
  }

  88% {
    background: #FF595E;
    transform: rotate(360deg);
  }

  100% {
    background: #FF595E;
    transform: rotate(360deg);
  }
}